.save {
    width: 37px;
    height: 24px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1c2942;
}

.save-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    width: 53px;
    height: 24px;
}

.save-button-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  width: 93px;
  height: 48px;
  align-items: center;
  background: #42fe73;
  border-radius: 40px;
}
